audeer
audformat
audinterface
audiofile
audonnx
audtorch
datasets
imageio
matplotlib
numpy
opensmile
pandas
praat-parselmouth
scikit_learn
scipy
seaborn
sounddevice
tensorflow
tensorflow_hub
torch
transformers
xgboost
