audeer
audobject
audformat
audinterface
audiofile
audmetric
audiomentations==0.31.0
audonnx
confidence-intervals
# audtorch
# datasets
imageio
matplotlib
numpy
opensmile
pandas
praat-parselmouth
scikit_learn
scipy
seaborn
sounddevice
splitutils
# tensorflow
# tensorflow_hub
torch
torchaudio
torchvision
# transformers
xgboost
umap-learn
pylatex
