audeer
audformat
audinterface
audiofile
audiomentations==0.31.0
audonnx
audtorch
datasets
imageio
matplotlib
numpy
opensmile
pandas
praat-parselmouth
scikit_learn
scipy
seaborn
sounddevice
tensorflow
tensorflow_hub
torch
transformers
xgboost