name: Check code formatting

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: psf/black@stable
      # - uses: psf/black@552baf822992936134cbd31a38f69c8cfe7c0f05
        with:
                options: "--exclude nkululeko/constants.py"
